* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

h1,h3 {
    color: #ff6b28;
}

h1 {
    font-size: 3.2rem;
}

h4, li {
    font-size: 1.6rem;
}

p, strong, a {
    font-size: 1.6rem;
}

header {
    padding: 10px;
    text-align: center;
    background-color: #ff6b28;
}

.background-img {
    background-image: url('images/hero_bolo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
}

.container {
    padding: 0 20px;
    margin: auto;
    max-width: 1200px;
}

.container h1 {
    margin: 50px 0 70px 0;
}

.cartao {
    margin: 10px 0;
    margin: auto;
    padding: 70px;
    margin-bottom: 100px;
    max-width: 700px;
    border-radius: 15px;
    transition: all 0.7s ease-in;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.212)
;
}

.cartao:hover {
    transform: scale(1.02);
    box-shadow: 0 0 40px #ff6c2875;
}

.ingredientes:hover {
    cursor: url("images/cursor_ingredientes.png"), auto;
}

.modo-de-preparo:hover {
    cursor: url("images/cursor_preparo.png"), auto;
}

.informacoes:hover {
    cursor: url("images/cursor_intrucoes.png"), auto;
}

.cartao h3 {
    margin-left: -14px;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.cartao ul, ol {
    padding: 0;
    list-style-position: inside;
}

.cartao ul, ol, li {
    margin-bottom: 10px;
}

button {
    box-shadow: 0 0 20px #ff6c28d8;
    background-color: #ff6b28;
    padding: 12px;
    border: none;
    border-radius: 5px;
    transition: all 0.7s;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

button:hover {
    transform: scale(1.06);
    box-shadow: none;
    cursor: pointer;
}

button img {
    margin-right: 8px;
}

.cartao p {
    padding-bottom: 20px;
    line-height: 20px;
}

.cartao p a {
    color: #ff6b28;
    text-decoration: none;
    font-weight: 700;
}

.cartao p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #ff6b28;
    color: white;
    padding: 20px;
}

footer p {
    font-size: 1.4rem;
    text-align: center;
    margin: auto;
    max-width: 400px;
}

@media screen and (max-width: 450px) {
    .cartao {
        padding: 40px;
    }

    .cartao h3 {
        text-align: center;
    }

    .container-botao {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}